.card-body .border{
	width: 290px;
    margin-top: 6px;
}

.card-body .col-9{
	max-width: 50%;
}

.card-body .col-3{
	max-width: 50%;
}

.anh{
	margin-top: 10px;
    margin-left: 95px;
    width: 84px;
}