<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../views/CSS/passmabaomat.css">
</head>
<body>
	<div class="_10 _9aha uiLayer _4-hy _3qw" style="opacity: 1; min-width: 941.6px;">
		<div class="_3ixn"></div>
		<div class="_59s7 _9l2g" role="dialog" aria-labelledby="Password hint" style="width: 500px; margin-top: 172px;">
			<div class="_4t2a">
				<div>
					<div>
						<div class="_4-i2 _31nc _50f4"><div class="_9ok3">
							<div class="_9ok4">Tạo mật khẩu mạnh</div>
								<div class="_31nd" id="u_0_c_xw">
									<div class="_9ai5"><i class="_9ai6 img sp_-Ww9-2lZPiS_1_5x sx_8ec58c"></i></div>
								</div>
							</div>
							<div class="_9ok5 clearfix">
								<div class="_9ok6">Khi bạn tạo mật khẩu, cần nhớ các điều sau:
									<ul>
										<li>Mật khẩu <strong>không được</strong> chứa tên bạn.</li>
										<li>Mật khẩu <strong>không được</strong> chứa từ thông dụng trong từ điển.</li>
										<li>Mật khẩu <strong>phải</strong> chứa một hoặc nhiều số.</li>
										<li>Mật khẩu <strong>phải</strong> chứa cả ký tự viết hoa và viết thường.</li>
										<li>Mật khẩu <strong>phải</strong> dài tổi thiểu 6 ký tự.</li>
									</ul>
								</div>
								<a role="button" class="_42ft _4jy0 layerCancel _2z1w _9ok2 textPadding40px _4jy3 _517h _51sy" href="#" tabindex="0">OK</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>